.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #3174c7 !important;
    border: 1px solid #3174c7;
    background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: .5em;
    padding: 0.25em 0.5em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #3174c7 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

table.dataTable thead .sorting_asc {
    background-image: url('https://cdn.datatables.net/1.11.3/images/sort_asc.png') !important;
}

table.dataTable thead .sorting_desc {
    background-image: url('https://cdn.datatables.net/1.11.3/images/sort_desc.png') !important;
}

table.dataTable thead .sorting {
    background-image: url('https://cdn.datatables.net/1.11.3/images/sort_both.png');
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}

.product-inner-price {
    color: #27367f;
    font-weight: bold;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
    width: 16px !important;
    height: 16px !important;
}
.single-product a {
    text-decoration: none;
    color: #27367f;
}
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}